In [2]:
import pandas as pd
a = pd.read_csv('sql_blog.csv')

In [3]:
a

   ID First Name Second Name  Height, ft Eyecolor   Hair color Sex
0   1   Leonardo     Davinci         6.0    hazel        black   m
1   2      Boris      Dranko         6.0     blue  dirty blond   m
2   3    Emanuel    Wolfgang         5.8     blue          red   m
3   4      Fidel      _astro         5.5    brown        black   m
4   5    Eleanor     Schmidt         6.2    green        blond   f
5   6       Feng        Feng         6.0    brown         grey   f

In [6]:
%sql
Select * from a;

SyntaxError: invalid syntax (<ipython-input-6-8cf864fa9ab0>, line 2)